<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="../public/favicon.ico">
  </head>
  <body>
    <a href="/inventory">
      <button class="return-to-main-btn" href="">
        Return To Main
      </button>
    </a>

    <h1 class="admin-options-title-text"><%= title %></h1>
    <h2 class="admin-options-welcome-text"><%= welcomeMessage %></h2>

    <div class="admin-options-selection-container">
      <h4 class="admin-options-header-text">
        Admin Options:
      </h4>
      <ul class="admin-options-list">
        <a 
          class="admin-options-item"
          href="/inventory/category/create"
        >
          <li>
            Create Category
          </li>
        </a>
  
        <a 
          class="admin-options-item"
          href="/inventory/category/admin/options"
        >
          <li>
            Delete Category
          </li>
        </a>
  
        <a 
          class="admin-options-item"
          href="/inventory/category/admin/options"
        >
          <li>
            Update Category
          </li>
        </a>
  
        <a 
          class="admin-options-item"
          href="/inventory/item/create"
        >
          <li>
            Create Item
          </li>
        </a>
  
        <a 
          class="admin-options-item"
          href="/inventory/item/admin/options"
        >
          <li>
            Delete Item
          </li>
        </a>
  
        <a 
          class="admin-options-item"
          href="/inventory/item/admin/options"
        >
          <li>
            Update Item
          </li>
        </a>
      </ul>
    </div>

  </body>
</html>