<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="../public/favicon.ico">
  </head>
  <body>
    <a href="/inventory">
      <button class="return-to-main-btn" href="">
        Return To Main
      </button>
    </a>

    <h1><%= title %></h1>

    <form method="POST" action="">

      <div class="form-group">
        <label for="password">
          Password:
        </label>
        <input 
          id="form-control" 
          type="text" 
          placeholder="Good Luck!"
          name="password"
          required
        >
      </div>

      <button class="btn, btn-primary" type="submit">
        Submit
      </button>
    </form>

    <% if (typeof(error) !== 'undefined') { %>
      <p><%= error %></p>
    <% }; %>

  </body>
</html>