<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" href="../public/favicon.ico">
  </head>
  <body>
    <a href="/inventory/admin/access/granted">
      <button class="return-to-main-btn" href="">
        Return To Admin
      </button>
    </a>

    <h1><%= title %></h1>

    <form method="POST" action="">
      <div class="form-group">
        <label for="name">
          Category:
        </label>
        <input 
          id="form-control" 
          type="text" 
          placeholder="Beans, Roasts, Espresso, etc"
          name="name"
          required
          value="<%= typeof(category) === 'undefined' ? '' : category.name %>"
        >
      </div>
      <button class="btn, btn-primary" type="submit">
        Submit
      </button>
    </form>

    <% if (typeof(errors) !== "undefined") { %>
      <ul>
        <% errors.forEach((error) => { %>
          <li>
            error.msg
          </li>
        <% }); %>
      </ul>
    <% }; %>

  </body>
</html>